{% extends 'layout.html'%} {% block content %}
<h1>Orders History of {{current_user.username}}</h1>
{% for delivery in deliveries %}{% if summary!=0 %}
<h5>Delivery ID - {{delivery.id}}</h5>
<h5>Order Summary - {{summary}} $</h5>
<h5>Order Date - {{ delivery.created.strftime('%d/%m/%Y - %H:%M:%S') }}</h5>
{% if delivery.is_delivered %}
<h6 class="blue-text text-darken-2">Delivered</h6>
{%else%}
<h6 class="blue-text text-darken-2">Not Delivered Yet</h6>
{% endif %}{% endif %}
<table>
  {% if summary!=0 %}
  <thead>
    <tr>
      <th>Dish Name</th>
      <th>Price</th>
      <th>Amount</th>
      <th>Total Dish Price</th>
    </tr>
  </thead>
  <tbody>
    {% for item in delivery.cart.items %} {% for dish in dishes %} {% if
    dish.id==item.dish_id %}
    <tr>
      <td>{{dish.name}}</td>
      <td>{{dish.price}} $</td>
      <td>{{item.amount}}</td>
      <td>{{item.amount*dish.price}} $</td>
    </tr>
    {% endif %} {% endfor %} {% endfor %}
  </tbody>
</table>
{% endif %}{% endfor %} {% endblock %}
